<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<span class="glyphicon glyphicon-search"></span>

<div class="col-md-3 col-sm-4">
  <div class="list-group">
    <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
    <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a>
    <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
    <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
  </div>
</div>

<div class="col-md-3 col-sm-4">
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check-square"></i>List icons</li>
    <li><i class="fa-li fa fa-check-square"></i>can be used</li>
    <li><i class="fa-li fa fa-spinner fa-spin"></i>as bullets</li>
    <li><i class="fa-li fa fa-square"></i>in lists</li>
  </ul>
</div>
<br>
<div class="col-md-3 col-sm-4">
  <i class="fa fa-spinner fa-spin"></i>
  <i class="fa fa-circle-o-notch fa-spin"></i>
  <i class="fa fa-refresh fa-spin"></i>
  <i class="fa fa-cog fa-spin"></i>
  <i class="fa fa-spinner fa-pulse"></i>
</div>
<br>
<div class="col-md-3 col-sm-4">
<span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
  fa-twitter on fa-square-o<br>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
</span>
  fa-flag on fa-circle<br>
<span class="fa-stack fa-lg">
  <i class="fa fa-square fa-stack-2x"></i>
  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
</span>
  fa-terminal on fa-square<br>
<span class="fa-stack fa-lg">
  <i class="fa fa-camera fa-stack-1x"></i>
  <i class="fa fa-ban fa-stack-2x text-danger"></i>
</span>
  fa-ban on fa-camera
</div>

<div class="col-md-3 col-sm-4">
  <a class="btn btn-danger" href="#">
    <i class="fa fa-trash-o fa-lg"></i> Delete</a>
  <a class="btn btn-default btn-sm" href="#">
    <i class="fa fa-cog"></i> Settings</a>

  <a class="btn btn-lg btn-success" href="#">
    <i class="fa fa-flag fa-2x pull-left"></i> Font Awesome<br>Version 4.5.0</a>

  <div class="btn-group">
    <a class="btn btn-default" href="#"><i class="fa fa-align-left"></i></a>
    <a class="btn btn-default" href="#"><i class="fa fa-align-center"></i></a>
    <a class="btn btn-default" href="#"><i class="fa fa-align-right"></i></a>
    <a class="btn btn-default" href="#"><i class="fa fa-align-justify"></i></a>
  </div>
<br>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" placeholder="Email address">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="password" placeholder="Password">
  </div>
<br>
  <div class="btn-group open">
    <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="fa fa-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
      <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
      <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>
</div>